
.parallax {
  background-image: url(./photos/trip-hand.jpg);
  min-height: 900px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.practice {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.8);
}

.family-pic {
  background-image: url(./photos/familyphoto.jpg);
  min-height: 900px;

  background-attachment: fixed;
  background-size: auto;
  background-size: cover;
}

h1 {
  padding-top: 30%;
  font-size: 60px;
  margin: 0px;
}

p {
  margin: 0px;
  padding: 5%;
}
