.parallax {
  background-image: url(./photos/trip-hand.jpg);
  min-height: 900px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.practice {
  height: 500px;
  background-color: rgba(255, 0, 0, 0.5);

}
